body{
background:#EDEADB;
font-family: 'Indie Flower', cursive;
}
table{
border-collapse: collapse;
}
td{
position:relative;
border: 1px solid #000000;
text-align:center;
padding:20px 10px;
}
a{
color:#334311;
text-decoration:none;
cursor:pointer;
}
a:hover{
text-decoration:underline;
}
h1{
text-align:center;
}
table select{
	display:block;
	width:100px;
}

.calDate{
background-color: #ffffff;
width:125px;
height:75px;
padding:0px;
vertical-align: top;
}

.calDate input{
width:75px;
}
.calDate select{
width:75px;
}

.dateNumber {
padding: 0px 10px;
top:0;
text-align: left;
}
.positioner{
Position:relative; 
min-height: 75px;
}
.prev{
background-color: #D7E083;
}
#bottomNav{
color:#334311;
}
#bottomNav a{
color:#334311;
text-decoration:none;
}
#bottomNav a:hover{
text-decoration:underline;
}
#calendar{
width:100%;
}
#calNav{
text-align:center;
}
.calNum{
	color:#777;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
}

#calNav a{
text-align:center;
color:#334311;
text-decoration: none;
}

#calNav a:hover{
text-decoration:underline;
}


#content{
text-align:center;
padding:20px;
}
.nextLink{
float:right;
color:#333;
text-decoration:none;
}
.prevLink{
float:left;
color:#333;
text-decoration:none;
}
#navBar{
margin:5px;
text-align:center;
}
#navBar a{
padding:10px;
}

#prevButton:hover, #nextButton:hover {
text-decoration:underline;
}

@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
#weekView{
	text-align: center;
}

#wrapper{
width:800px;
margin:0px auto;
}
